<nav class="navbar navbar-expand-lg navbar-d">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <div class="navbar-header">
            <a routerLink="/"><img src="assets/images/logo-long.png" class="img-responsive" alt="" style="max-width:270px;padding-top:2px;" /></a>
        </div>

        <button class="navbar-toggler bt" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto navbar-d">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admission">Admission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/faculty">Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/programs">Programs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services">Services</a>
            </li>




            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown mega-dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<span class="caret"></span></a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="container-fluid">

                        <div class="tab-content">
                            <div class="tab-pane active" id="men">
                                <ul class="nav-list list-inline">
                                    <li>
                                        <a href="#"><img src="assets/images/t7.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t8.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t9.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t1.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="women">
                                <ul class="nav-list list-inline">
                                    <li>
                                        <a href="#"><img src="assets/images/t1.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t2.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t3.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t4.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t5.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/t6.jpg" class="img-responsive" alt="" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#men" role="tab" data-toggle="tab">School</a></li>
                        <li><a href="#women" role="tab" data-toggle="tab">College</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a href="#">Faculty</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Events Calender</a></li>
                    <li><a href="#">Past Evenets</a></li>
                </ul>
            </li> -->
            <!-- <li class="nav-item"><a class="nav-link">Services</a></li>
            <li class="nav-item"><a class="nav-link">Features</a></li>
            <li class="nav-item"><a class="nav-link">Blog</a></li>
            <li class="nav-item"><a class="nav-link">Career</a></li>
            <li class="nav-item last"><a class="nav-link">Contacts</a></li> -->

            <li class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fa fa-user"></i><span>Login</span></a>
            </li>

        </ul>
    </div>
</nav>