<!-- banner -->
<div class="courses_banner">
    <div class="container">
        <h3>Courses</h3>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
        </p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a routerLink="/home">Home</a></li>
                <li class="icon6"><a routerLink="/courses">Courses</a></li>
                <li class="current-page">Creative Writing</li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->
<div class="container features">
    <h2 class="heading">About this course</h2>

    <p>This twelve week Creative Writing course offers essential skill sets required for professional writing for English Language Learners. In this course, learners focus on understanding the demands of different styles of writing, and learn a variety of
        techniques to improve their writing process and enhance creativity. The course also allows learners to improve grammatical appropriateness, vocabulary improvement, revision and editing skills.</p>

    <p>Learners will have the opportunity to write on a number of different topics and ideas, with an opportunity to write for online publications. If their contents qualify for publication their contents will be paid and credited on the publication.</p>

    <p>The course materials will be offered via lectures and digital formats. Learners are required to complete several projects during the course. Projects include short/ long writing assignments and journal entries.</p>

    <h2 class="heading">What you'll learn</h2>
    <ul class="about_links text-color">
        <li>Build persuasive writing techniques and essay development skills</li>
        <li>Learn writing formats, critical thinking, proofreading, self-editing, revision, tone, and vocabulary</li>
        <li>Develop strong professional writing and communication skills</li>
    </ul>

    <h2 class="heading">Course Syllabus</h2>

    <ol class="text-color">
        <li>Writing and communication skills</li>
        <li>Writing to meet the need of audience</li>
        <li>Writing process</li>
        <li>Critical thinking - what to include / not include</li>
        <li>Writing formats - style/ genre</li>
        <li>Tone</li>
        <li>Habits of mind for - A Good write up!</li>
        <li>Persuasive witting technique</li>
        <li>Essay development</li>
        <li>Digital technology - to write more effectively & efficiently</li>
        <li>Proof Reading</li>
        <li>Self editing</li>
        <li>Revision</li>
        <li>Vocab – selecting the right word</li>
        <li>How to become a better writer?</li>
    </ol>

    <h2 class="heading">Course Duration & Fee</h2>

    Duration: 12 weeks (30 Hours delivered on Skype) | Effort required by learner: 3-5 hours per day | Study Material: Online Lectures + PDF | Fee: Rs.20,000 |

</div>