<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>


<!-- <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <label>Name</label>
    <input type="text" name="username" ngModel>

    <label>Password</label>
    <input type="password" name="password" ngModel>

    <button type="submit" value="submit">Save</button>
</form>


<div class="btn-group" data-toggle="buttons">
    <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  </label>
    <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
  </label>
    <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
  </label>
</div>
<hr>
<pre>{{model | json}}</pre> -->