<div class="bottom_content container-fluid">
    <h3>Our COURSES</h3>
    <div class="grid_2 row">
        <div class="col-md-4 portfolio-left">
            <div class="portfolio-img event-img">
                <img src="assets/images/t15.jpg" class="img-fluid" alt="" />
                <div class="over-image"></div>
            </div>
            <div class="portfolio-description">
                <h5>Creative Writing</h5>
                <p>This twelve week Creative Writing course offers essential skill sets required for professional writing for English Language Learners.
                </p>
                <a routerLink="/creative-writing">
                    <span><i class="fa fa-chain chain_1"></i>VIEW COURSE</span>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 portfolio-left">
            <div class="portfolio-img event-img">
                <img src="assets/images/t10.jpg" class="img-fluid" alt="" />
                <div class="over-image"></div>
            </div>
            <div class="portfolio-description">
                <h5>Course</h5>
                <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies.</p>

                <a href="#">
                    <span><i class="fa fa-chain chain_1"></i>VIEW COURSE</span>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 portfolio-left">
            <div class="portfolio-img event-img">
                <img src="assets/images/t12.jpg" class="img-fluid" alt="" />
                <div class="over-image"></div>
            </div>
            <div class="portfolio-description">
                <h5>Course</h5>
                <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies.</p>

                <a href="#">
                    <span><i class="fa fa-chain chain_1"></i>VIEW COURSE</span>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="grid_3 row">
        <div class="col-md-4 portfolio-left">
            <div class="portfolio-img event-img">
                <img src="assets/images/t11.jpg" class="img-fluid" alt="" />
                <div class="over-image"></div>
            </div>
            <div class="portfolio-description">
                <h5>Course</h5>
                <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies.</p>

                <a href="#">
                    <span><i class="fa fa-chain chain_1"></i>VIEW COURSE</span>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 portfolio-left">
            <div class="portfolio-img event-img">
                <img src="assets/images/t14.jpg" class="img-fluid" alt="" />
                <div class="over-image"></div>
            </div>
            <div class="portfolio-description">
                <h5>Course</h5>
                <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies.</p>

                <a href="#">
                    <span><i class="fa fa-chain chain_1"></i>VIEW COURSE</span>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 portfolio-left">
            <div class="portfolio-img event-img">
                <img src="assets/images/t13.jpg" class="img-fluid" alt="" />
                <div class="over-image"></div>
            </div>
            <div class="portfolio-description">
                <h5>Course</h5>
                <p>Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies.</p>

                <a href="#">
                    <span><i class="fa fa-chain chain_1"></i>VIEW COURSE</span>
                </a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>