<div class="footer container-fluid">
    <div class="row">
        <div class="col-md-3 grid_4">
            <h3>About Us</h3>
            <p>Create Careers offers coaching for CAT, GMAT, MBA, IIT JEE, Hotel Management, Spoken English, Data Analysis, and Creative Writing. We offer comprehensive classroom and online coaching through highly qualified and experienced trainers. Many
                of our students have joined premier institutes in India and abroad. Our vocational courses are of great help for professionals seeking career growth.</p>
            <ul class="social-nav icons_2 clearfix">
                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li>
                    <a href="https://www.facebook.com/CreateCareers.org/" target="_blank" class="facebook"> <i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3 grid_4">
            <h3>Quick Links</h3>
            <ul class="footer_list">
                <li><a href="#">-  PRIOR LEARNING ASSESSMENT </a></li>
                <li><a href="#">-  INTERNATIONAL STUDENTS</a></li>
                <li><a href="#">-  CAREER OPPORTUNITIES</a></li>
                <li><a href="#">-   NEW STUDENT ORIENTATION</a></li>
                <li><a href="#">-   NEW CLASSROOM TECHNOLOGY</a></li>
            </ul>
        </div>
        <div class="col-md-3 grid_4">
            <h3>Contact Us</h3>
            <address>
              <abbr>Telephone : </abbr> 995 3477 332
              <br>
              <abbr>Email : </abbr> <a href="info@createcareers.org">info(at)createcareers.org</a>
         </address>
        </div>
        <div class="col-md-3 grid_4">
            <h3>Working Hours</h3>
            <table class="table_working_hours">
                <tbody>
                    <tr class="opened_1">
                        <td class="day_label">Everyday</td>
                        <td class="day_value">7:00 AM - 8.00 PM</td>
                    </tr>
                    <!-- <tr class="opened">
                        <td class="day_label">tuesday</td>
                        <td class="day_value">9:30 am - 6.00 pm</td>
                    </tr> -->

                </tbody>
            </table>
        </div>
        <div class="clearfix"> </div>
        <div class="copy">
            <p>Copyright © 2017 </p>
        </div>
    </div>
</div>