<!-- banner -->
<div class="courses_banner">
    <div class="container">
        <h3>Blog</h3>
        <!-- <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
        </p> -->
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a routerLink="/home">Home</a></li>
                <li class="current-page"><a routerLink="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner -->

<div class="container" style="padding-top:20px">
    <div class="row">
        <div class="col-md-12 detail">
            <h3>Blog Overview</h3>
            <img src="assets/images/course.jpg" class="img-responsive" alt="">

            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            <!--728x90-->
            <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-bookmark-o icon_3"></i>voluptatem accusantium doloremque
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                        <div class="panel-body">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-pencil-square-o icon_3"></i> At vero eos et accusamus
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-comments-o icon_3"></i> quam nihil molestiae
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fa fa-clock-o icon_3"></i> Sed ut perspiciatis unde
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                            animi, id est laborum et dolorum fuga. Et harum quidem rerum
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="author-box">
                <div class="author-box-left"><img src="assets/images/t13.png" class="img-responsive" alt=""></div>
                <div class="author-box-right">
                    <h4>Author by <a href="#">admin</a></h4>
                    <p>Lorem ipsum doldor sit amet, consectetur adeipiscing elit, sed do eiusmod temdpor incididuent ut labore et doelore magna aliqua.. Lorem ipsum doldor sit amet, consectetur adeipiscing elit, sed do eiusmod temdpor incididuent ut labore
                        et doelore magna aliqua..</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="comment_section">
                <h4>3 Comments</h4>
                <ul class="comment-list">
                    <li>
                        <div class="author-box">
                            <div class="author-box_left"><img src="assets/images/t13.png" class="img-responsive" alt=""></div>
                            <div class="author-box_right">
                                <h5><a href="#">Admin</a><span class="pull-right"><a class="comment-reply-link" href="#">Reply</a></span></h5>
                                <span class="m_1">Jul 07, 2015 - 4:48 am Nov 15, 2015 - 08:07 pm</span>
                                <p>There are many variations of passages of Lorem Ipsum</p>

                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                    <li>
                        <div class="author-box">
                            <div class="author-box_left"><img src="assets/images/author.png" class="img-responsive" alt=""></div>
                            <div class="author-box_right">
                                <h5><a href="#">Admin</a><span class="pull-right"><a class="comment-reply-link" href="#">Reply</a></span></h5>
                                <span class="m_1">Jul 07, 2015 - 4:48 am Nov 15, 2015 - 08:07 pm</span>
                                <p>There are many variations of passages of Lorem Ipsum</p>

                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                    <ul class="children">
                        <li>
                            <div class="author-box">
                                <div class="author-box_left"><img src="assets/images/author.png" class="img-responsive" alt=""></div>
                                <div class="author-box_right">
                                    <h5><a href="#">Admin</a><span class="pull-right"><a class="comment-reply-link" href="#">Reply</a></span></h5>
                                    <span class="m_1">Jul 07, 2015 - 4:48 am Nov 15, 2015 - 08:07 pm</span>
                                    <p>There are many variations of passages of Lorem Ipsum</p>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
            <form class="comment-form">
                <h4>Leave a comment</h4>
                <div class="row">
                    <div class="col-md-6 comment-form-left">
                        <input type="text" placeholder="Your Name" value="" id="author" name="author" class="form-control">
                        <input type="text" class="form-control" placeholder="Your Email" value="" id="email" name="email">
                    </div>
                    <div class="col-md-6 comment-form-right">
                        <textarea name="comment" aria-required="true" id="comment" class="form-control" placeholder="Comment"></textarea>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit_1 btn btn-primary btn-block" value="Add comment">
                </div>
            </form>
        </div>
    </div>
</div>